@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student: @ViewData["Student"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong><a href="http://Educandoweb.com.br">Educando web </a>
</address>
